@use "./variables" as *;

.logo {
    text-decoration: none;
    background-color: $primary-background;
    border: 2px solid $border-color;
    padding: 3rem 6rem;
    border-radius: 50%;
    color: $primary-color;
    font-size: $font-title;
}

.section-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}