@use "./variables" as *;

.logo {
    text-decoration: none;
    background-color: #b030b0;
    padding: 3rem 6rem;
    border-radius: 50%;
    color: rgb(247, 245, 245);
    font-size: $font-title;
    text-shadow: 2px;
}

.section-container {
    display: flex;
    justify-content: center;
    width: 100%;
}