@use "./variables" as *;

@mixin innerContainerStyle {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;  
    background-color: $primary-background; 
    border: 2px solid $border-color;
    border-radius: 5px;
    width: 70%;
    height: 50rem;
    margin-top: 5rem;
    text-align: center;
}