$primary-background: rgb(221, 216, 237);
$secondary-background: rgb(46, 23, 95);

$primary-color: rgb(22, 11, 74);
$secondary-color: rgb(96, 31, 120);

$border-color: #d4c0e3;

$button-background: #b030b0;
$button-color: rgb(227, 211, 233);

$font-title: 6rem;
$font-subtitle: 4rem;
$font-answer: 3rem;
$font-button: 3rem;