@use "./_partials/resets";
@use "./_partials/global";
@use "./_partials/mixins" as *;;
@use "./_partials/variables" as *;

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.timer {
    background-color: $secondary-background;
    color: $button-color;
    padding: 3rem 5rem;
    font-size: $font-title;
    border-radius: 50%;
    margin: 2rem;
}

.overlay {
    width: 70%;
    height: 50rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;  
    background-color: $primary-background; 
    border: 2px solid $border-color;
    border-radius: 5px;
    position: absolute;
    top: 24.8rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &--nodisplay {
        display: none;
    }

    &__loader {
        width: 48px;
        height: 48px;
        border: 5px solid $primary-color;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        }
    
        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        }
}


.game {
    @include innerContainerStyle;
    position: relative;

    &__question {
        font-family: Amaranth;
        font-weight: 400;
        background-color: $secondary-background;
        border-radius: 5px;
        padding: 1rem;
        color: $button-color;
        font-size: $font-subtitle;
        margin: 1rem;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__answers-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__answer {
        // background: rgb(32,32,64);
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;  
        // background: linear-gradient(90deg, rgba(32,32,64,1) 0%, rgba(32,32,96,1) 35%, rgba(176,48,176,1) 100%);
        font-family: Amaranth;
        font-weight: 400;
        width: 40%;
        background-color: $secondary-background;
        border-radius: 5px;
        padding: 1rem;
        color: $button-color;
        font-size: $font-answer;
        margin: 1rem;
    }

    &__finish {
        display: none;
    //    display: flex;

       &--display-button {
        display: flex;
        justify-content: center;
        width: 30%;
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        text-decoration: none;
        background-color: $button-background;
        color: $button-color;
        font-size: $font-button;
        padding: 1rem;
        border-radius: 5px;
       }
    }

    &__count {
        color: $secondary-color;
        font-size: $font-title;
        margin: 1rem;
        padding: 1rem;
    }

}



.game__answer--green {
    background-color: green;
}

.game__answer--red {
    background-color: red;
}